<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <div style="margin-top:100px"></div>
        <div style="height:50vh">
            <h1>Oops! Page not found</h1>
        </div>
    </main>
<%- include('includes/end.ejs') %>